{
    "rules": {       
        "semi": ["error", "always"],   
        "quotes": ["error", "single"]
    },
    "env": {
        "browser": true,
        "es6": true,
        "serviceworker": true
    },
    "parserOptions": {
        // sourceType - set to "script" (default) or "module" if your code is in ECMAScript modules.
        "sourceType": "module",
        "allowImportExportEverywhere": true
    }
}
